body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.bg_img {
    width: 100%;
    min-height: 800px;
    max-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    background-image: url("images/bg_img1.jpg");
}
.img2 {
    background-image: url("images/bg_img2.jpg");
}
.img3 {
    background-image: url("images/bg_img3.jpg");
}
.img4 {
    background-image: url("images/bg_img4.jpg");
}
.img5 {
    background-image: url("images/bg_img5.jpg");
}
.img6 {
    background-image: url("images/bg_img6.jpg");
}
