body {
  margin: 0 auto;
  
  width: 1400px;
  height: 400px;
  padding: 25px 10px 25px;
  font-family: "Helvetica", "Arial", sans-serif;
  justify-content: center;

  background-color: #d6d3cc;

}
.img1{
  background-image: url('images/bg_img1.jpg')
}
.img2{
  background-image: url('images/bg_img2.jpg')
}
.bg_image{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
